:root {
  --bg: #ffffff;
  --text: #111827;
  --accent: #0ea5a4;
  --max-width: 1100px;
  --gap: 1rem;
  --header-height: 64px;

  /**
      * Color Variables
      * Define base colors and gradients for the application
      * Source: https://www.color-hex.com/color/2d3e51
      */
  --base-bg-color: rgb(45, 62, 81);
  --base-bg-color-dark: rgb(27, 37, 48);

  /* monochromatic blue-gray shades */
  --base-bg-color-1: rgb(18, 24, 32);
  --base-bg-color-2: rgb(27, 37, 48);
  --base-bg-color-3: rgb(36, 49, 65);
  --base-bg-color-4: rgb(45, 62, 81);
  --base-bg-color-5: rgb(54, 75, 97);
  --base-bg-color-6: rgb(63, 87, 114);
  --base-bg-color-7: rgb(72, 100, 130);

  --hero-bg-color-1: rgb(54, 75, 97);
  --hero-bg-color-2: rgb(72, 100, 130);
  /* --hero-bg-color-1: #667eea;
    --hero-bg-color-2: #764ba2; */

  --advent-calendar-door-opened-bg: rgba(228, 228, 228, 0.2);
  --advent-calendar-door-opened-bg-stripes: rgba(228, 228, 228, 1);
  --advent-calendar-door-opened-border: rgba(204, 204, 204, 1);
}